apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # Using host networking, Prometheus is on localhost:9090
    url: http://localhost:9090
    isDefault: true
    editable: false
