apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: PBFA97CFB590B2093
    access: proxy
    # Prometheus serves at /prometheus/ path (--web.route-prefix)
    url: http://localhost:9090/prometheus
    isDefault: true
    editable: false

  - name: Loki
    type: loki
    uid: P8E80F9AEF21F6940
    access: proxy
    url: http://localhost:3100
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000
